.m-will-get-modal {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  &-title {
    font-size: rem(20);
    line-height: rem(20);
    text-align: center;
    background-image: -webkit-linear-gradient(
      top,
      rgba(242, 240, 245, 1),
      rgba(95, 119, 255, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: rem(24);
  }
  &-icon {
    display: flex;
    justify-content: center;
    margin-top: rem(30);
    > img {
      display: block;
      width: rem(43);
    }
    &-right {
      margin-left: rem(12);
      > span {
        display: block;
        font-size: rem(16);
        line-height: rem(19);
        margin-top: rem(3);
        text-align: center;
        font-family: 'tt';
        background-image: -webkit-linear-gradient(
          top,
          rgba(242, 255, 90, 1),
          rgba(255, 177, 77, 1),
          rgba(255, 177, 77, 1)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      small {
        display: block;
        font-size: rem(12);
        line-height: rem(14);
        color: #7c6db5;
        margin-top: rem(5);
        font-family: 'tt';
      }
    }
  }
  &-sever {
    font-size: rem(14);
    line-height: rem(16);
    text-align: center;
    color: #7c6db5;
    margin-top: rem(24);
    >span{
      font-family: 'tt';
    }
  }
  &-total {
    font-size: rem(12);
    line-height: rem(14);
    color: #7c6db5;
    margin-top: rem(17);
    text-align: center;
    span {
      background-image: -webkit-linear-gradient(
        top,
        rgba(242, 240, 245, 1),
        rgba(95, 119, 255, 1)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-left: rem(3);
      font-family: 'tt';
    }
  }
}
