.web-cities {
  &-dashboard {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: url(res("compatibility-pc/home-bg.png")) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    padding-bottom: 145px;
    > img {
      width: 120px;
      display: block;
      margin-top: 150px;
    }
    > label {
      position: relative;
      font-size: 30px;
      line-height: 35px;
      text-align: center;
      color: #f9fbf7;
      text-shadow: 0px 0px 4px #7906a0, 0px 0px 4px #7906a0, 0px 0px 4px #7906a0;
      display: block;
      margin-top: 22px;
    }
    > p {
      font-size: 17px;
      line-height: 25px;
      text-align: center;
      color: #f9fbf7;
      text-shadow: 0px 0px 4px #7906a0, 0px 0px 4px #7906a0, 0px 0px 4px #7906a0;
      margin-top: 35px;
      max-width: 420px;
    }
    > small {
      margin-top: rem(28);
      display: block;
      text-align: center;
      font-size: 17px;
      line-height: 25px;
      text-align: center;
      color: #f9fbf7;
      text-shadow: 0px 0px 4px #7906a0, 0px 0px 4px #7906a0, 0px 0px 4px #7906a0;
    }
  }
}

.m-cities-dashboard > label::before {
  width: rem(252);
  height: rem(52);
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: rem(-126);
  bottom: rem(-30);
  background: url(res("details/halo.png")) no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
