.web-rabbit-upgrade-suc {
  padding-top: 242px;
  >div.title {
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    font-family: 'gilroy';
    font-size: 34px;
    line-height: 36px;
    background: linear-gradient(180deg, #FDFDFF 25%, #7990D6 78.12%);
    background-clip: text;
    color: transparent;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 365px;
      height: 64px;
      left: 50%;
      transform: translate(-50%);
      top: 0;
      background: url(res('rabbit/suc-light.png'));
      background-size: 100% 100%;
      z-index: -1;
    }
  }
  .card {
    position: relative;
    width: 266px;
    height: 397px;
    margin: 67px auto 0;
    background-color: palegoldenrod;
    &::after {
      content: '';display: block;position: absolute;left: -62px;right: -50px;bottom: -72px;height: 171px;
      background: url(res('rabbit/circle-bottom-suc.png'));
      background-size: 100% 100%;
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 107px;
    margin-bottom: 56px;
    span {
      background: linear-gradient(180deg, #F2F0F5 0%, #5F77FF 100%),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);
      background-clip: text;
      color: transparent;
      font-size: 24px;
      margin-right: 12px;
    }
    img {
      width: 25px;
    }
  }
}