.web-rabbit-upgrade-choose {
  box-sizing: border-box;
  padding-bottom: 80px;
  overflow: hidden;
  background: url(res("fleet/bg.png")) no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  min-height: 100vh;
  &-title {
    font-family: Gilroy;
    font-size: 20px;
    line-height: 23px;
    color: #7c6db5;
    margin-top: 52px;
    text-align: center;
  }
  &-label {
    font-family: Gilroy;
    font-size: 20px;
    line-height: 23px;
    color: #7c6db5;
    margin-top: 45px;
    text-align: center;
    span {
      font-family: "tt";
      background-image: -webkit-linear-gradient(
        top,
        rgba(242, 255, 90, 1),
        rgba(255, 177, 77, 1),
        rgba(255, 177, 77, 1)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &-box {
    justify-content: space-evenly;
    margin-top: 33px;
  }
  &-balance {
    width: 477px;
    margin: 59px auto 0;
    p {
      display: flex;
      justify-content: space-between;
      margin-top: 13px;
      label {
        font-family: Gilroy;
        font-size: 17px;
        line-height: 20px;
        color: #7c6db5;
      }
      span {
        color: #7c6db5;
        // font-size: rem(12);
        em {
          @include wzjb(rgba(242, 240, 245, 1), rgba(95, 119, 255, 1));
          margin-right: 7px;
        }
      }
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 151px;
  }
}
