.m-stepper {
  width: rem(130);
  height: rem(28);
  display: flex;
  justify-content: space-between;
  button {
    width: rem(28);
    height: rem(28);
    line-height: rem(28);
    outline: none;
    border: none;
    border-radius: rem(4);
    background: #6b60ae;
    color: #fff;
    font-size: rem(18);
  }
  label {
    text-align: center;
    background-image: -webkit-linear-gradient(
      bottom,
      rgba(243, 132, 237, 1),
      rgba(255, 255, 255, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: rem(28);
    font-weight: bold;
    font-size: rem(24);
    font-family: 'tt';
  }
}
.m-stepper button:disabled {
  color: #9190af;
}
